body {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  margin: 50px;
}
main {
  width: 90%;
  max-width: 1000px;
  background: #FFF;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}
* {
  box-sizing: border-box;
}
.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}
.logo{
  font: sans-serif;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  max-width: 800px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -100px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #fff;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #000;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 50%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.logo {
  font-size: 50px;
}
@media screen and (max-width: 554px){

.maintext {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
      align-items: ;
      flex-direction: column; 
        background: #c09378;
        color: black;
        border-radius: .1em;
        padding: 1em;
        font-size: 1.5rem;
        
    }

    .nav1 {
      align-items: right;
      background-color: transparent;

      font-family: 'Quattrocento Sans', sans-serif;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 2.0rem;
      max-width: 100%;
      min-width: 85%;
  

   }
header  .nav1 a {
    background-color: white;
    display: block;
    padding: .2rem;
    margin: .2rem;
    float: right;
   }

.jokepunchline {
  
    
text-shadow: none;x
  }

    }
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quattrocento+Sans&display=swap');
*{
  margin: margin-top: -50px;
  padding: 0;
  box-sizing: border-box;
  
}
html{
  scroll-behavior: smooth;
}
body{
  background: #fff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #D3D3D3;
}
::selection{
  color: #000;
  background: #000;
}
.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #000;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #000;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #fff;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #000;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 22px;
  font-weight: 600;
}
.row section p{
  margin: 10px 0 17px 0;
}
.row section .bottom a{
  text-decoration: none;
  background: #fff;
  color: #000;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
  .gallery-image {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 4rem auto;
  width: 50%;
  max-width: 500px;
}

.gallery-image img {
  width: 50%;
} 

hr {
    width: 96%;
    color: #FFFF00;
    height: 1px;
}


#line {
    float: left;
    width: 731px;
    height: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;  
}

body {
  min-height: 100%;  
  background: #eee;
  font-family: Century Gothic, sans-serif;
  font-weight: 400;
  color: #222;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 50px;
}

.container {
  max-width: 700px;   
  background: #fff;
  margin: 0px auto 0px; 
  box-shadow: 1px 1px 2px #DAD7D7;
  border-radius: 3px;  
  padding: 40px;
  margin-top: 50px;
}

.header {
  margin-bottom: 30px;
}
  
.full-name{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  .first-name {
    font-weight: 700;
  }
  
  .last-name {
    font-weight: 300;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .email ,
  .phone {
    color: #999;
    font-weight: 300;
  } 
  
  .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
  }
  
  .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
  }
}

.centered {
   display: block;
   text-align: center;
}

.link-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
   grid-gap: 0.75rem;
}

.link-grid__item {
   display: block;
   text-decoration: none;
}

.video {
   display: grid;
   grid-template-columns: 3fr 1fr 3fr;
   grid-auto-rows: auto;
   margin: 0;
}

.video__gradient {
   grid-column: 1 / span 3;
   grid-row: 1 / span 2;
   z-index: 1;
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
   filter: blur(1px);
}

.video__title {
   grid-column: 1 / span 3;
   grid-row: 1 / span 2;
   color: white;
   z-index: 2;
   text-align: left;
   margin: 0;
   padding-left: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
   font-weight: 500;
}

.video__thumbnail {
   grid-column: 1 / span 3;
   grid-row: 1 / span 5;
   width: 100%;
   display: block;
}


.video__play {
   grid-column: 2 / span 1;
   grid-row: 4 / span 1;
}

.video__play--icon {
   width: 60px;
   border-radius: 10px;
   background: rgba(0, 0, 0, .5);
   line-height: 50px;
   font-size: 30px;
   color: white;
   text-align: center;
}

.video:hover .video__play--icon {
   background-color: #CC181E;
}
